<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar envío</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <button class="btn btn-info">
        <a th:href="@{/dash}">Dashboard</a>
    </button>

    <div class="login-usuario">
        <form th:action="@{/envio/addEn}" th:object="${envio}" method="post">
            <section class="form-register">

                <p class="text-info" id="tituloForm">Registrar envío</p>
                <br>
                <label>
                    <h4>Fecha envío</h4>
                </label>
                <input type="hidden" class="controls"  id="idEnvio" th:field="*{idEnvio}" />
                <input type="date" class="controls" id="fechaEnvio" th:field="*{fechaEnvio}" placeholder="Ingrese la fecha del envío" required/>
               
                <label>
                    <h4>Hora envío</h4>
                </label>
                <input type="text" class="controls" id="horaEnvio" th:field="*{horaEnvio}" placeholder="Ingrese la hora del envío" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('horaEnvio')}" th:errors="*{horaEnvio}"></div>

                <label>
                    <h4>Estado envío</h4>
                </label>
                
                <input type="checkbox"  class="form-check form-switch"  id="estadoEnvio" th:field="*{estadoEnvio}" />
                
                <label>
                    <h4>Costo envío</h4>
                </label>
                <input type="number" class="controls" id="costoTotalEnvio" th:field="*{costoTotalEnvio}" placeholder="Ingrese el costo del envío" required />
                <div class="form-text text-danger" th:if="${#fields.hasErrors('costoTotalEnvio')}" th:errors="*{costoTotalEnvio}"></div>
                <label>
                    <h4>Asociar método de pago</h4>
                </label>
                    <select class="controls" th:field="*{fkpago}" id="fkpago" required>
                        <option th:each="fkpago:${fkpago}" th:text="${fkpago.metodoPago}" th:value="${fkpago.idPago}" ></option>            
                    </select>

                <label>
                    <h4>Asociar usuario</h4>
                </label>
                    <select class="controls" th:field="*{fkusuario}" id="fkusuario" required>
                        <option th:each="fkusuario:${fkusuario}" th:text="${fkusuario.Actor}" th:value="${fkusuario.idUsuario}"></option>            
                    </select>

                
                <label>
                    <h4>Asociar guia</h4>
                </label>
                    <select class="controls" th:field="*{guia}" id="guia" required  >
                        <option th:each="guia:${guia}" th:text="${guia.remitente}" th:value="${guia.idGuia}"></option>            
                    </select>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('guia')}" th:errors="*{guia}">Error método de pago</div>
                    <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

                

                <button type="submit" class="botons bg bg-info text-center" hr> Registrar Envío</button>


            </section>
        </form>
    </div>
    
</body>
</html>