<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">

  <!-- BEGIN: Head-->
  <head>
    <title>Formulario envío</title>
    <th:block th:include="views/header::head"> </th:block>
  </head>
  <!-- END: Head-->


  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <nav  th:include="views/Nav::nav"
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
  </nav>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->

    <div th:include="views/menuDashboard::menuDash" class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
    data-scroll-to-active="true">
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
          <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
              <div class="col-12">
                <h2 class="content-header-title float-start mb-0">Formulario Envío</h2>
                <div class="breadcrumb-wrapper">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a a th:href="@{/envio/envio}">Ver envios</a>
                    <li class="breadcrumb-item"><a a th:href="@{/dash}">Home</a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
            <div class="mb-1 breadcrumb-right">
              
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Horizontal form layout section start -->




<!-- Basic multiple Column Form section start -->
<section id="multiple-column-form">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Envío</h4>
        </div>
        <div class="card-body">
          <form class="form" th:action="@{/envio/addEn}" th:object="${envio}" method="post">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Fecha del envío</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Ingrese la fecha del envío"
                    name="fname-column"
                    id="fechaEnvio" th:field="*{fechaEnvio}"
                    required 
                    min="" max="2030-01-01"
                  />
                  <div class="form-text text-danger" th:if="${#fields.hasErrors('fechaEnvio')}" th:errors="*{fechaEnvio}"></div>
                </div>
                </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Hora envío</label>
                  <input
                    type="time"
       
                    class="form-control"
                    placeholder="Ingrese la hora del envío"
                    name="fname-column"
                    id="horaEnvio" th:field="*{horaEnvio}"
                    required
                  />
                  <div class="form-text text-danger" th:if="${#fields.hasErrors('horaEnvio')}" th:errors="*{horaEnvio}"></div>
                </div>
              </div>
              <div class="col-md-15 col-12">
                <div class="mb-1">
                  <label class="form-label" for="last-name-column">Estado:</label>
                  <input
                    type="checkbox"

                    class="form-check-input"
                    id="estadoEnvio" th:field="*{estadoEnvio}" 
                    
                  />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="city-column">Costo del envío</label>
                  <input type="number" id="costoTotalEnvios" th:field="*{costoTotalEnvio}" placeholder="Ingrese el costo del envío" class="form-control" name="city-column" required  />
                  <div class="form-text text-danger" th:if="${#fields.hasErrors('costoTotalEnvio')}" th:errors="*{costoTotalEnvio}"></div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="last-name-column">Método de pago </label>
                  <select class="select2 form-select" th:field="*{metodoPago}" id="metodoPago" required>
                      <option value="">Elegir método de pago</option>
                      <option value="1">Efectivo</option>
                      <option value="2">Nequi</option>
                      <option value="3">Daviplata</option>
                      <option value="4">Tarjeta</option>
                      <option value="5">Otro</option>
                    </select>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="last-name-column">Asociar usuario</label>
                  <select class="select2 form-select" th:field="*{fkusuario}" id="fkusuario" required>
                      <option th:each="fkusuario:${fkusuario}" th:text="${fkusuario.username}" th:value="${fkusuario.idUsuario}"></option>
                    </select>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="last-name-column">Asociar guía</label>
                  <select class="select2 form-select" th:field="*{guia}" id="guia" required>
                      <option th:each="guia:${guia}" th:text="${guia.remitente}" th:value="${guia.idGuia}"></option>
                  </select>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('guia')}" th:errors="*{guia}">Error método de pago</div>
                    <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                </div>
              </div>
              
              <div class="col-lg-12">
                <button type="submit" class="btn btn-info">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Floating Label Form section end -->

        </div>
      </div>
    </div>
    <!-- END: Content-->



    </div>
    


    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer  th:include="views/Footer::footer" class="footer footer-static footer-light">
    </footer>
    <!-- END: Footer-->
    <script th:src="@{/js/pago.js}"></script>
    <div class="scripts" th:include="views/header::script"></div>
  </body>
  <!-- END: Body-->
</html>