<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envíos</title>
      <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

   
    
    
</head>
<body class="color-tablas">
    <button class="btn btn-info">
        <a th:href="@{/dash}">Dashboard</a>
    </button>
    <div class="mt-4">
        <table id="example" class="table table-striped display responsive nowrap" style="width:100%">
           <thead class="bg bg-info ">
               <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>ESTADO</th>
                    <th>COSTO</th>
                    <th>MÉTODO PAGO</th>
                    <th>USUARIO</th>
                    <th>GUÍA</th>
                    <th>ACCIONES</th>
               </tr>
           </thead>
               <tbody class="bg-dark ">
                <tr th:if="${envio.size>0}" th:each="e:${envio}">

                    <td class="text-light" th:text="${e.idEnvio}"></td>
                    <td class="text-light" th:text="${e.fechaEnvio}"></td>
                    <td class="text-light" th:text="${e.horaEnvio}"></td>
                    <td class="text-light" th:text="${e.estadoEnvio}"></td>
                    <td class="text-light" th:text="${e.costoTotalEnvio}"></td>
                    <td class="text-light" th:text="${e.fkpago.metodoPago}"></td>
                    <td class="text-light" th:text="${e.fkusuario.Actor}"></td>
                    <td class="text-light" th:text="${e.guia.destinatario}"></td>

                 

                    <td> 
                        <a rol="button" class="btn btn-info" th:href="@{/envio/editarEn/}+${e.idEnvio}">
                        <i class="fa-solid fa-pen"></i>
                        </a>

                
                    </td>
                </tr>
               </tbody>
          
                   <tr>
                       <td>
                        <a type="button" class="btn btn-info" th:href="@{addEn}">  
                            <i class="bi bi-plus-circle"></i>Agregar envío
                        </a>
                       </td>
                   </tr>
               
        </table>
      </div>
  
            
         
        
  


      <script th:src="@{/js/main.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    
    <script type="text/Javascript">
        $(document).ready(function(){
            $('#example').DataTable({
        "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
        });
    });  
    </script>
    
</body>
</html>