<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Envioz</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" th:href="@{/img/icon-envioz.png}">
</head>
<body  >
    
    <div class="dasbhoard">

    <h2 class="text-center">Productos</h2>
        <button>
            <a th:href="@{producto/producto}">Ver productos</a>
        </button>

    <h2 class="text-center">Pedido</h2>
    
        <button class="boton">
            <a th:href="@{pedido/pedido}">Ver pedidos</a>
        </button>

    <h2 class="text-center">Usuario</h2>

        <button>
            <a th:href="@{usuario/usuario}">Ver Usuario</a>
        </button>

    <h2 class="text-center">Pago</h2>
    <button >
        <a th:href="@{pago/pago}">Ver métodos de pago</a>
    </button>

    
    <h2 class="text-center">Guía</h2>
    <button>
        <a th:href="@{guia/listar}">Ver guía</a>
    </button>

    <h2 class="text-center">Envío</h2>
   
    <button>
        <a th:href="@{envio/envio}">Ver envíos</a>
    </button>
    
  
    
   
    
    

</div>
</body>
</html>