<!DOCTYPE html>

<html xlmns:th="https://www.thymeleaf.org">

<head>

  <title>Dashboard</title>
  <link rel="icon" th:href="@{/img/icon-envioz.png}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
    rel="stylesheet">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/vendors.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/charts/apexcharts.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/toastr.min.css}">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap-extended.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/colors.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/components.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/dark-layout.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/bordered-layout.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/semi-dark-layout.min.css}">

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/pages/dashboard-ecommerce.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/charts/chart-apex.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-toastr.min.css}">
  <!-- END: Page CSS-->


  <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <nav
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
    <div class="navbar-container d-flex content">
      <div class="bookmark-wrapper d-flex align-items-center">
        <ul class="nav navbar-nav d-xl-none">
          <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav align-items-center ms-auto">
        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon"
              data-feather="moon"></i></a></li>
        <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon"
              data-feather="search"></i></a>
          <div class="search-input">
            <div class="search-input-icon"><i data-feather="search"></i></div>
            <input class="form-control input" type="text" placeholder="Explore Envioz..." tabindex="-1"
              data-search="search">
            <div class="search-input-close"><i data-feather="x"></i></div>
            <ul class="search-list search-list-main"></ul>

          </div>
        </li>
        <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
            id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">Johan Garzon</span><span
                class="user-status">Gerente</span></div><span class="avatar"><img class="round"
                th:src="@{/app-assets/images/avatars/2-small.png}" alt="avatar" height="40" width="40"><span
                class="avatar-status-online"></span></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
            <a class="dropdown-item" href="page-profile.html">
              <i class="me-50" data-feather="user"></i>Perfil</a>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="page-account-settings-account.html"><i
                class="me-50" data-feather="settings"></i> Configuración</a></a><a class="dropdown-item"
              href="auth-login-cover.html"><i class="me-50" data-feather="power"></i> Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- END: Header-->

  <!-- MENÚ DASHBOARD INCLUDE-->
  <div th:include="views/menuDashboard::menuDash" class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  </div>
  
  <!-- END: Main Menu-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <!-- Dashboard Ecommerce Starts -->
        <section id="dashboard-ecommerce">
          <div class="row match-height">
            <!-- Medal Card -->

            <!--/ Medal Card -->

            <!-- Statistics Card -->
            <div class="col-xl-12 col-md-8 col-12">
              <div class="card card-statistics">
                <div class="card-header">
                  <h4 class="card-title">¡Bienvenido gerente!</h4>
                  <div class="d-flex align-items-center">
                    <p class="card-text font-small-2 me-25 mb-0">Johan Garzon</p>
                  </div>
                </div>
                <div class="card-body statistics-body">
                  <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                      <div class="d-flex flex-row">
                        <div class="avatar bg-light-info me-2">
                          <div class="avatar-content">
                            <i data-feather="user" class="avatar-icon"></i>
                          </div>
                        </div>
                        <div class="my-auto">
                          <h4 class="fw-bolder mb-0">Gerente</h4>

                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                      <div class="d-flex flex-row">
                        <div class="avatar bg-light-danger me-2">
                          <div class="avatar-content">
                            <i data-feather="box" class="avatar-icon"></i>
                          </div>
                        </div>
                        <div class="my-auto">
                          <h4 class="fw-bolder mb-0">182</h4>
                          <p class="card-text font-small-3 mb-0">Envios</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                      <div class="d-flex flex-row">
                        <div class="avatar bg-light-success me-2">
                          <div class="avatar-content">
                            <i data-feather="dollar-sign" class="avatar-icon"></i>
                          </div>
                        </div>
                        <div class="my-auto">
                          <h4 class="fw-bolder mb-0">$9745</h4>
                          <p class="card-text font-small-3 mb-0">Ganancias</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Statistics Card -->
          </div>



          <!-- Revenue Report Card -->
          <div class="col-lg-12 col-22">
            <div class="card card-revenue-budget">
              <div class="row mx-0">

                <div class="budget-wrapper">
                  <H1>¡Bienvenido al apartado del admin de nuestro software, acá podrás realizar todas las acciones que
                    nuestro software ofrece!</H1>

                </div>
              </div>
            </div>
          </div>
          <!--/ Revenue Report Card -->
      </div>

      <div class="row match-height">

        <!-- Developer Meetup Card -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-developer-meetup">
            <div class="meetup-img-wrapper rounded-top text-center">
              <img th:src="@{/app-assets/images/illustration/email.svg}" alt="Meeting Pic" height="170" />
            </div>
            <div class="card-body">
              <div class="meetup-header d-flex align-items-center">
                <div class="meetup-day">
                  <h6 class="mb-0">Jue</h6>
                  <h3 class="mb-0">10</h3>
                </div>
                <div class="my-auto">
                  <h4 class="card-title mb-25">Equipo de envíoz</h4>
                  <p class="card-text mb-0">Reuniones financieras</p>
                </div>
              </div>
              <div class="mt-0">
                <div class="avatar float-start bg-light-primary rounded me-1">
                  <div class="avatar-content">
                    <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                  </div>
                </div>
                <div class="more-info">
                  <h6 class="mb-0">Sáb, Oct 25, 2022</h6>
                  <small>10:00AM to 6:00PM</small>
                </div>
              </div>
              <div class="mt-2">
                <div class="avatar float-start bg-light-primary rounded me-1">
                  <div class="avatar-content">
                    <i data-feather="map-pin" class="avatar-icon font-medium-3"></i>
                  </div>
                </div>
                <div class="more-info">
                  <h6 class="mb-0">Bogotá D.C.</h6>
                  <small>Bogotá D.C, Cundinamarca</small>
                </div>
              </div>
              <div class="avatar-group">
                <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="bottom"
                  title="Billy Hopkins" class="avatar pull-up">
                  <img th:src="@{/app-assets/images/portrait/small/avatar-s-9.jpg}" alt="Avatar" width="33"
                    height="33" />
                </div>
                <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="bottom" title="Amy Carson"
                  class="avatar pull-up">
                  <img th:src="@{/app-assets/images/portrait/small/avatar-s-6.jpg}" alt="Avatar" width="33"
                    height="33" />
                </div>
                <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="bottom"
                  title="Brandon Miles" class="avatar pull-up">
                  <img th:src="@{/app-assets/images/portrait/small/avatar-s-8.jpg}" alt="Avatar" width="33"
                    height="33" />
                </div>
                <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="bottom" title="Daisy Weber"
                  class="avatar pull-up">
                  <img th:src="@{/app-assets/images/portrait/small/avatar-s-20.jpg}" alt="Avatar" width="33"
                    height="33" />
                </div>
                <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="bottom"
                  title="Jenny Looper" class="avatar pull-up">
                  <img th:src="@{/app-assets/images/portrait/small/avatar-s-20.jpg}" alt="Avatar" width="33"
                    height="33" />
                </div>
                <h6 class="align-self-center cursor-pointer ms-50 mb-0">+3</h6>
              </div>
            </div>
          </div>
        </div>
        <!--/ Developer Meetup Card -->

        <!-- Browser States Card -->

        </section>
        <!-- Dashboard Ecommerce ends -->

      </div>
    </div>
  </div>
  <!-- END: Content-->


  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>


  <!-- BEGIN: Footer-->
  <footer class="footer footer-static footer-light">
    <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2022<a
          class="ms-25" href="" target="_blank">Envioz</a><span class="d-none d-sm-inline-block">, All rights
          Reserved</span>
  </footer>
  <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
  <!-- END: Footer-->


  <div class="scripts" th:include="views/header::script"></div>
</body>
<!-- END: Body-->

</html>