<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

    <h2 class="text-center">Pago</h2>
    <button>
        <a th:href="@{pago/pago}">Ver métodos de pago</a>
    </button>

    <h2 class="text-center">Envío</h2>
    <button>
        <a th:href="@{envio/envio}">Ver envíos</a>
    </button>
    
</body>
</html>