<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <title>Recuperar Contraseña</title>
    <th:block th:include="views/header::head"> </th:block>
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <div class="auth-wrapper auth-cover">
            <div class="auth-inner row m-0">
              <!-- Brand logo--><a class="brand-logo" href="index.html">
                <svg viewBox="0 0 139 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28">
                  
                </svg>
                <img 
                th:src="@{/app-assets/images/logo/logo-envioz.png}" alt="avatar" height="50"
                > 
                <h2 class="brand-text text-primary ms-1"></h2></a>
              <!-- /Brand logo-->
              <!-- Left Text-->
              <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" th:src="@{/app-assets/images/pages/forgot-password-v2-dark.svg}" alt="Forgot password V2"/></div>
              </div>
              <!-- /Left Text-->
              <!-- Forgot password-->
              <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                  <h2 class="card-title fw-bold mb-1">
                    ¿Has olvidado tu contraseña?</h2>
                  <p class="card-text mb-2">Ingrese su correo electrónico y le enviaremos instrucciones para restablecer su contraseña
                  </p>
                  <form class="auth-forgot-password-form mt-2" action="auth-reset-password-cover.html">
                    <div class="mb-1">
                      <label class="form-label" for="forgot-password-email">Email</label>
                      <input class="form-control" id="forgot-password-email" type="text" name="forgot-password-email" placeholder="Correo" aria-describedby="forgot-password-email" autofocus="" tabindex="1"/>
                    </div>
                    <style>
                      #o{
                        background:#025c98;
                        color: white;
                      }
                      #b{
                        color: #025c98;
                      }
                    </style>
                    <button class="btn btn- w-100" id="o" tabindex="2">Enviar enlace de reinicio</button>
                  </form>
                  <p class="text-center mt-2"><a th:href="@{/login}" id="b"><i data-feather="chevron-left" id="b"></i>Volver a el login</a></p>
                </div>
              </div>
              <!-- /Forgot password-->
            </div>
          </div>
        </div>
      </div>
    </div>
   
   
    <div class="scripts" th:include="views/header::script"></div>
    
  </body>
  <!-- END: Body-->
</html>