<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <title>Formulario Usuario</title>
    <th:block th:include="views/header::head"> </th:block>
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body th:attr="onload=(${accionusu})" class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

     <!-- BEGIN: Header-->
     <!-- <nav  th:include="views/Nav::nav"
     class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
   </nav> -->
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
  <div th:include="views/menuDashboard::menuDash" class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
  data-scroll-to-active="true">
  </div>
  
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
          <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
              <div class="col-12">
                <h2 class="content-header-title float-start mb-0">Formulario Usuario</h2>
                <div class="breadcrumb-wrapper">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a a th:href="@{/dash}">Home</a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
            <div class="mb-1 breadcrumb-right">
              
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Horizontal form layout section start -->




<!-- Basic multiple Column Form section start -->
<section id="multiple-column-form" >
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Usuario</h4>
        </div>
        <div class="card-body">
          <form class="form" th:action="@{/usuario/addu}" th:object="${usuario}" method="post">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <input type="hidden" class="controls"  th:field="*{idUsuario}"/>
                  <label class="form-label" for="first-name-column">Nombres</label>
                  <input
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="Nombre"
                    th:field="*{nombreUsuario}"
                    name="fname-column"
                    required pattern="[a-z A-Z]{2,15}"
                  />
                </div>
                  
                </div>
              

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Rol</label>
                  <select class="select2 form-select" th:field="*{roles}" id="roles" required>
                    <option th:each="roles:${roles}" th:text="${roles.nombre}" th:value="${roles.id}"></option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Nombre de usuario en el sistema</label>
                  <input
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="username"
                    th:field="*{username}"
                    name="fname-column"
                    required pattern="[a-z A-Z]{2,15}"
                  />
                  
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="last-name-column">Apellidos</label>
                  <input
                    type="text"
                    id="last-name-column"
                    class="form-control"
                    th:field="*{ApellidoUsuario}"
                    placeholder="Apellido"
                    name="lname-column"
                    required pattern="[a-z A-Z]{2,25}"
                  />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="city-column">Contraseña</label>
                  <input type="password" id="city-column" class="form-control" placeholder="Contraseña" th:field="*{Password}" name="city-column" required  />
                </div>
              </div>

               <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="last-name-column">Tipo de documento </label>
                  <select class="select2 form-select" id="select2-nested" th:field="*{tipident}" required>
                    <option value="AK">Escoge tu tipo de documento</option>
                    <option value="cc">C.C</option>
                      <option value="Ti">T.I</option>
                    </select>
                </div>
              </div>
              
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="email-id-column">Email</label>
                  <input
                    type="email"
                    id="email-id-column"
                    class="form-control"
                    th:field="*{correo}"
                    name="email-id-column"
                    placeholder="Correo"
                    required  size="30"
                  />
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="company-column">Número de documento</label>
                  <input
                    type="number"
                    id="company-column"
                    class="form-control"
                    th:field="*{NumeroDocumento}"
                    name="company-column"
                    placeholder="Documento"
                    required  pattern="[a-z A-Z]{2,15}"
                  />
                   <div class="form-text text-danger" th:if="${#fields.hasErrors('NumeroDocumento')}" th:errors="*{NumeroDocumento}">Error número de documento </div>
                    <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

                    <div class="form-text text-danger" th:if="${Error}" th:text="${Error}"></div>
                </div>
              </div>

             
               
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="email-id-column">Número Celular</label>
                  <input
                    type="number"
                    id="email-id-column"
                    class="form-control"
                    name="email-id-column"
                    th:field="*{NumerodeTelefono}"
                    placeholder="Numero"
                    required 
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="btn btn-info" >Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Floating Label Form section end -->

        </div>
      </div>
    </div>
    <!-- END: Content-->



    </div>
    


    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer  th:include="views/Footer::footer" class="footer footer-static footer-light">
    </footer>

    <!-- END: Footer-->

    <script th:src="@{/js/main-alerts.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <div class="scripts" th:include="views/header::script"></div>
  </body>
  <!-- END: Body-->
</html>