<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar guía</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body th:attr="onload=(${accionGuia})">
    <button class="btn btn-info">
        <a th:href="@{/dash}">Dashboard</a>
    </button>

    <div class="login.usuario">
        <form th:action="@{/guia/addG}" th:object="${guia}" method="post">
            <section class="form-register">

                <p class="text-info" id="tituloForm">Registrar guía</p>
                <br>
                <input type="hidden" class="controls"  id="idGuia" th:field="*{idGuia}" >

                <label for="">Teléfono</label>
                <input type="number" class="controls" id="telGuia" th:field="*{telGuia}" placeholder="Ingrese el teléfono" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('telGuia')}" th:errors="*{telGuia}"></div>
            
                
                <label for="">Dirección</label>
                <input type="text" class="controls" id="direcGuia" th:field="*{direcGuia}" placeholder="Ingrese la dirección"  required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('direcGuia')}" th:errors="*{direcGuia}"></div>
                
                <label for="">Fecha</label>
                <input type="date"  class="form-check form-switch"  id="fechaGuia" th:field="*{fechaGuia}" required />
                <div class="form-text text-danger" th:if="${#fields.hasErrors('fechaGuia')}" th:errors="*{fechaGuia}"></div>
                <br>
                <br>
                <br>
                <label for="">N° de cajas</label>
                <input type="number" class="controls" id="numCajasGuia" th:field="*{numCajasGuia}" placeholder="Ingrese el número de cajas" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('numCajasGuia')}" th:errors="*{numCajasGuia}"></div>
                
                <label for="">Valor Mercancía</label>
                <input type="number" class="controls" id="valorMercancia" th:field="*{valorMercancia}" placeholder="Ingrese el valor de la mercancía" max-length="15" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('valorMercancia')}" th:errors="*{valorMercancia}"></div>

                <label for="">Remitente</label>
                <input type="text" class="controls" id="remitente" th:field="*{remitente}" placeholder="Ingrese el remitente" max-length="30" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('remitente')}" th:errors="*{remitente}"></div>

                <label for="">Destinatario</label>
                <input type="text" class="controls" id="destinatario" th:field="*{destinatario}" placeholder="Ingrese el destinatario" max-length="30" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('destinatario')}" th:errors="*{destinatario}"></div>

                <label for="">Ciudad de Origen</label>
                <input type="text" class="controls" id="ciudadOrigen" th:field="*{ciudadOrigen}" placeholder="Ingrese la ciudad de origen" max-length="20" required/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('ciudadOrigen')}" th:errors="*{ciudadOrigen}"></div>

                <label for="">Ciudad de destino</label>
                <input type="text" class="controls" id="ciudadDestino" th:field="*{ciudadDestino}" placeholder="Ingrese la ciudad de destino" max-length="20" required/>
                <label>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('ciudadDestino')}" th:errors="*{ciudadDestino}"></div>

           

                    <h4>Agregar pedido</h4>
                </label>
                    <select class="controls" th:field="*{pedido}" id="pedido"  required>
                        <option th:each="pedido:${pedido}" th:text="${pedido.cantidadTotalPed}" th:value="${pedido.idPedido}" ></option>            
                    </select>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('pedido')}" th:errors="*{pedido}">Error método de pago</div>
                <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

                <button type="submit" class="botons bg bg-info text-center" hr>Registrar guía</button>


            </section>
        </form>
    </div>

    <script th:src="@{/js/main.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>