<!DOCTYPE html>

<html xlmns:th="https://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <title>Formulario guía</title>
    <th:block th:include="views/header::head"> </th:block>
  </head>
  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <body th:attr="onload=(${accionGuia})" class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">
    
    <!-- BEGIN: Header-->
    <nav  th:include="views/Nav::nav"
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
  </nav>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div th:include="views/menuDashboard::menuDash" class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
  data-scroll-to-active="true">
  </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
          <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
              <div class="col-12">
                <h2 class="content-header-title float-start mb-0">Formulario Guía</h2>
                <div class="breadcrumb-wrapper">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a a th:href="@{/dash}">Home</a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
            <div class="mb-1 breadcrumb-right">
              
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Horizontal form layout section start -->




<!-- Basic multiple Column Form section start -->
<section id="multiple-column-form">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Guía</h4>
        </div>
        <div class="card-body">
          <form class="form" th:action="@{/guia/addG}" th:object="${guia}" method="post">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="mb-1">
                      <label class="form-label" for="company-column">Teléfono</label>
                      <input type="hidden" class="controls"  id="idGuia" th:field="*{idGuia}" >
                      <input th:field="*{telGuia}"
                        type="number"
                        id="company-column"
                        class="form-control"
                        name="company-column"
                        placeholder="Ingrese el teléfono"
                        required  pattern="[a-z A-Z]{2,15}"
                      />
                      <div  th:if="${#fields.hasErrors('telGuia')}" th:errors="*{telGuia}">
                      </div>
                    </div>
                  </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Dirección</label>
                  <input th:field="*{direcGuia}"
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="Ingrese la dirección"
                    name="fname-column"
                    required 
                  />
                </div>
                <div  th:if="${#fields.hasErrors('direcGuia')}" th:errors="*{direcGuia}">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Fecha</label>
                  <input th:field="*{fechaGuia}"
                    type="date"
                    id="fechaGuia"
                    class="form-control"
                    placeholder="Ingrese la fecha"
                    name="fname-column"
                    required 
                    min="" max="2030-01-01"
                  />
                  <div  th:if="${#fields.hasErrors('fechaGuia')}" th:errors="*{fechaGuia}"></div>
                </div>
                </div>
              
              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="company-column">N° de Cajas</label>
                  <input th:field="*{numCajasGuia}"
                    type="number"
                    id="company-column"
                    class="form-control"
                    name="company-column"
                    placeholder="Ingrese el número de cajas "
                    required  pattern="[a-z A-Z]{2,15}"
                   
                  />
                  <div th:if="${#fields.hasErrors('numCajasGuia')}" th:errors="*{numCajasGuia}"></div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="company-column">Valor Mercancía</label>
                  <input th:field="*{valorMercancia}"
                    type="number"
                    id="company-column"
                    class="form-control"
                    name="company-column"
                    placeholder="Valor"
                    required  pattern="[a-z A-Z]{2,15}"
                   
                  />
                  <div  th:if="${#fields.hasErrors('valorMercancia')}" th:errors="*{valorMercancia}"></div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Remitente</label>
                  <input th:field="*{remitente}"
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="Ingrese el remitente"
                    name="fname-column"
                    required pattern="[a-z A-Z]{2,15}"
                   
                  />
                  <div  th:if="${#fields.hasErrors('remitente')}" th:errors="*{remitente}"></div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Destinatario</label>
                  <input th:field="*{destinatario}"
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="Ingrese el destinatario"
                    name="fname-column"
                    required pattern="[a-z A-Z]{2,15}"
                    
                  />
                  <div th:if="${#fields.hasErrors('destinatario')}" th:errors="*{destinatario}"></div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Ciudad Origen</label>
                  <input th:field="*{ciudadOrigen}"
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="Ingrese la ciudad de origen "
                    name="fname-column"
                    required pattern="[a-z A-Z]{2,15}"
                   
                  />
                  <div th:if="${#fields.hasErrors('ciudadOrigen')}" th:errors="*{ciudadOrigen}"></div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="mb-1">
                  <label class="form-label" for="first-name-column">Ciudad de Destino</label>
                  <input th:field="*{ciudadDestino}"
                    type="text"
                    id="first-name-column"
                    class="form-control"
                    placeholder="Ingrese la ciudad de destino"
                    name="fname-column"
                    required pattern="[a-z A-Z]{2,15}"
                    
                  />
                  <div th:if="${#fields.hasErrors('ciudadDestino')}" th:errors="*{ciudadDestino}"></div>
                </div>
              </div>

              <div class="col-lg-12">
                <button type="submit" class="btn btn-info">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

        </div>
      </div>
    </div>
    <!-- END: Content-->
    </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
      <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT  &copy; 2021<a class="ms-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span></p>
    </footer>

    <!-- END: Footer-->
    <script th:src="@{/js/guia.js}"></script>
    <script th:src="@{/js/main-alerts.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <div class="scripts" th:include="views/header::script"></div>

  </body>
  <!-- END: Body-->
</html>