<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
  <!-- BEGIN: Head-->
  <head>
    <th:block th:include="views/header::head"> </th:block>
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
     <!-- BEGIN: Header-->
     <nav  th:include="views/Nav::nav"
     class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
   </nav>
    <!-- END: Header-->


    <!-- MENÚ DASHBOARD INCLUDE-->
  <div th:include="views/menuDashboard::menuDash" class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
  data-scroll-to-active="true">
  </div>



  
    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- users list start -->
<section class="app-user-list">
  <div class="row">
  
    </div>
  </div>
  <!-- list and filter start -->
  <div class="card">
    <div class="container"> 
      <div class="row">
          <div class="col">
              <table id="example" class="table table-striped display responsive nowrap" >
                  <thead class="bg bg-info">
                    <tr>
                      <th>ID</th>
                      <th>Teléfono</th>
                      <th>Dirección</th>
                      <th>Fecha</th>
                      <th>Cajas</th>
                      <th>V.Mercancía</th>
                      <th>Remitente</th>
                      <th>Destinatario</th>
                      <th>C. Origen</th>
                      <th>C. Destino</th>
                      <th>Acciones</th>
                     </tr>
                  </thead>
                  <tbody class="bg bg-white text-light">
                    <tr th:if="${guia.size>0}" th:each="g:${guia}">
                      <td class="text-dark" th:text="${g.idGuia}"></td>
                          <td  class="text-dark"th:text="${g.telGuia}"></td>
                          <td  class="text-dark" th:text="${g.direcGuia}"></td>
                          <td class="text-dark" th:text="${g.fechaGuia}"></td>
                          <td  class="text-dark" th:text="${g.numCajasGuia}"></td>
                          <td  class="text-dark" th:text="${g.valorMercancia}"></td>
                          <td  class="text-dark" th:text="${g.remitente}"></td>
                          <td  class="text-dark" th:text="${g.destinatario}"></td>
                          <td  class="text-dark" th:text="${g.ciudadOrigen}"></td>
                          <td  class="text-dark" th:text="${g.ciudadDestino}"></td>
                          <td> 
                              <a rol="button" class="btn btn-info" th:href="@{/guia/editarG/}+${g.idGuia}">
                              <i class="fa-solid fa-pen" ></i>
                              </a>
      
                      
                          </td>
                      </tr>
                  </tbody>
                
              </table>
              
              <div class="card">
                <div class="col">
                  <a type="button" class="btn btn-info" th:href="@{/guia/registrar}">  
                    <i class="bi bi-plus-circle"></i>Crear guía
                </a>
          </div>
          </div>
          </div>
      </div>
  </div>
    <!-- Modal to add new user starts-->
    <div class="modal modal-slide-in new-user-modal fade" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-header mb-1">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
          </div>
          <div class="modal-body flex-grow-1">
            <div class="mb-1">
              <label class="form-label" for="basic-icon-default-fullname">Nombre</label>
              <input
                type="text"
                class="form-control dt-full-name"
                id="basic-icon-default-fullname"
                placeholder="John Doe"
                name="user-fullname"
              />
            </div>
            <div class="mb-1">
              <label class="form-label" for="basic-icon-default-uname">Apellido</label>
              <input
                type="text"
                id="basic-icon-default-uname"
                class="form-control dt-uname"
                placeholder="Web Developer"
                name="user-name"
              />
            </div>
            <div class="mb-1">
              <label class="form-label" for="basic-icon-default-email">Email</label>
              <input
                type="text"
                id="basic-icon-default-email"
                class="form-control dt-email"
                placeholder="john.doe@example.com"
                name="user-email"
              />
            </div>
            <div class="mb-1">
              <label class="form-label" for="basic-icon-default-contact">Contact</label>
              <input
                type="text"
                id="basic-icon-default-contact"
                class="form-control dt-contact"
                placeholder="+1 (609) 933-44-22"
                name="user-contact"
              />
            </div>
            <div class="mb-1">
              <label class="form-label" for="basic-icon-default-company">Company</label>
              <input
                type="text"
                id="basic-icon-default-company"
                class="form-control dt-contact"
                placeholder="PIXINVENT"
                name="user-company"
              />
            </div>
         
            <div class="mb-2">
              <label class="form-label" for="user-plan">Select Usuario</label>
              <select id="user-plan" class="select2 form-select">
                <option value="basic">Gerente</option>
                <option value="enterprise">Jefe de transportadora</option>
                
              </select>
            </div>
            <button type="submit" class="btn btn-dark me-1 data-submit">Subir</button>
            <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal to add new user Ends-->
  </div>
  <!-- list and filter end -->
</section>
<!-- users list ends -->

        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    <div class="customizer d-none d-md-block"><a class="customizer-toggle d-flex align-items-center justify-content-center" href="#"><i class="spinner" data-feather="settings"></i></a><div class="customizer-content">
  <!-- Customizer header -->
  <div class="customizer-header px-2 pt-1 pb-0 position-relative">
    <h4 class="mb-0">Escoge tu color </h4>
    <p class="m-0">Customiza el color de tu agrado</p>

    <a class="customizer-close" href="#"><i data-feather="x"></i></a>
  </div>

  <hr />

  <!-- Styling & Text Direction -->
  <div class="customizer-styling-direction px-2">
    <p class="fw-bold">Skin</p>
    <div class="d-flex">
      <div class="form-check me-1">
        <input
          type="radio"
          id="skinlight"
          name="skinradio"
          class="form-check-input layout-name"
          checked
          data-layout=""
        />
        <label class="form-check-label" for="skinlight">Light</label>
      </div>
      <div class="form-check me-1">
        <input
          type="radio"
          id="skinbordered"
          name="skinradio"
          class="form-check-input layout-name"
          data-layout="bordered-layout"
        />
        <label class="form-check-label" for="skinbordered">Bordered</label>
      </div>
      <div class="form-check me-1">
        <input
          type="radio"
          id="skindark"
          name="skinradio"
          class="form-check-input layout-name"
          data-layout="dark-layout"
        />
        <label class="form-check-label" for="skindark">Dark</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          id="skinsemidark"
          name="skinradio"
          class="form-check-input layout-name"
          data-layout="semi-dark-layout"
        />
        <label class="form-check-label" for="skinsemidark">Semi Dark</label>
      </div>
    </div>
  </div>


  

    <!-- BEGIN: Footer-->
     <footer class="footer footer-static footer-light">
      <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT  &copy; 2021<a class="ms-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-end d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button> 
    <!-- END: Footer-->


    <script th:src="@{/js/main-alerts.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <div class="scripts" th:include="views/header::script"></div>

   
  </body>
  <!-- END: Body-->
</html>