<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <!-- FRAMEWORK BOOTSTRAP para el estilo del boton-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la tabla de base de datos-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLA</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body class="color-tablas">
    <aside class="boton">
        <a th:href="pedido">
            <button class="btn btn-info">
                <a th:href="@{/dash}">Dashboard</a>
            </button>
            <a th:href="@{/pedido/abrirform}">
        <button type="button" class="btn btn-outline-info" >Agregar Pedido</button></a>
    </aside>
    <div class="contenedor">
        <h1>Tabla Pedido</h1>
        <table class="table" id="datat">
          <thead class="bg-info">
              <th>Id</th>
              <th>Cantidad Total Pares</th>
              <th>Total de Categorias</th>
              <th>Referencia Producto</th>
              <th>Acciones</th>
          </thead>
          <tbody class="bg bg-dark">
              <tr th:if="${pedido.size()>0}" th:each="pe:${pedido}">
                  <td th:text="${pe.idPedido}"></td>
                  <td th:text="${pe.cantidadTotalPed}"></td>
                  <td th:text="${pe.totalCategPed}"></td>
                  <td th:text="${pe.fkproducto.referenciaProd}"></td>
                  <td> 
                      <a role="button" class="btn btn-outline-warning btn-sm" th:href="@{/pedido/editar/}+${pe.idPedido}"> 
                          <i class="bi bi-pencil">Editar</i> 

                      </a> 
                      <a role="button" class="btn btn-outline-warning btn-sm" th:href="@{/pedido/eliminar/} + ${pe.idPedido}" onclick="return confirm('Estás seguro que quieres eliminar esta Pedido?');"> 
                          <i class="bi bi-trash">Eliminar</i> 
                      </a>  
                  </td>
                
              </tr>
          </tbody>
      </table> 
      <script>
        var datat=document.querySelector("#datat"); 
        var dataTable=new DataTable("#datat",{ 
        perPage:5,
        labels: {
        placeholder: "Busca por un campo...",
        perPage: "{select} registros por página",
        noRows: "No se encontraron registros",
        info: "Mostrando {start} a {end} de {rows} registros",
        }
        } ) ;
      </script> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>